* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
  margin: 0 auto;
}
.min-width-500 {
  min-width: 500px;
}
